<!DOCTYPE html>
<html>
<head>
    <title>Compra Aprobada</title>
    <meta http-equiv="refresh" content="5;url=/" />
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f0f0f0;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: green;
            background-color: rgba(240, 248, 255, 0.473);
            padding: 2rem;
            border-radius: 2px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div>
        <h1>Compra aprobada, ¡Felicitaciones!✅</h1>
        <p>Serás redirigido automáticamente en 5 segundos...</p>
    </div>
</body>
</html>
